ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

li
{
float:left;
}

a:link,a:visited
{
display:block;
width:132px;
color:white;
background-color:black;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:lowercase;
font-family:Gill Sans, sans-serif;
}

a:hover,a:active
{
background-color:gray;
ground-color:gray;
}

h3
{
font-style:italic;
}

h1
{
color:teal;
font-family:'Cookie', Helvetica, sans-serif;
font-size: 75px;
}

.left 
{
float: left;
width: 0%;
}

.right 
{
margin-left: 25%;
font-size: 30px;
font-family:Gill Sans, sans-serif;

}

p
{
font-size: 25px;
font-family:Gill Sans, sans-serif;
}

ol
{
font-size: 25px;
font-family:Gill Sans, sans-serif;
}

article {
	clear:both;
}

section {
	display: inline-block;
	float:left;
	background-color: none;
	margin: 5px;
	padding: 10px
}

.column-left {
	width:30%;
}

.column-mid {
	width: 30%;
}

.column-right {
	width: 30%;
}