ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

li
{
float:left;
}

a:link,a:visited
{
display:block;
width:132px;
color:white;
background-color:black;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:lowercase;
font-family:Gill Sans, sans-serif;
}

a:hover,a:active
{
background-color:gray;
ground-color:gray;
}

h3
{
font-style:italic;
}

h1
{
color:teal;
font-family:'Cookie', Helvetica, sans-serif;
font-size: 75px;
}

.left 
{
float: left;
width: 0%;
}

.right 
{
margin-left: 25%;
font-size: 30px;
font-family:Gill Sans, sans-serif;

}

p
{
font-size: 25px;
font-family:Gill Sans, sans-serif;
}

ol
{
font-size: 25px;
font-family:Gill Sans, sans-serif;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: gray;
  padding: 5px;
  width: 450px;
  height: 250px;
  margin-top: 10px;
  
  line-height: 250px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}